@import url('https://fonts.googleapis.com/css2?family=Montserrat&display=swap');

:root{
    --azul: #001845;
    --naranja: #FE5605;
    --gris: #EEEEEE;
    --blanco: #FFFFFF;
    --negroBajo2: #151515;
    --negroBajo: #1F1F1F;
    --azul2: #1B223F;
    --negroTotal: #000000;


}



*{
    box-sizing: border-box;
    font-family: 'Montserrat', sans-serif;
}

/*------------------------------------------------MENU-------------------------------------------------*/

nav{
  background: var(--azul);
  position: absolute;
  top: 0px;
  width: 100%;
    
  }
  
  nav::after{
    content: '';
    clear: both;
    display: table;
  }
  
  nav .logo{
    float: left;
    color: var(--blanco);
    font-size: 27px;
    font-weight: 600;
    line-height: 70px;
    padding-left: 60px;
    
  }
  nav ul{
    float: right;
    list-style: none;
    margin-right: 40px;
    position: relative;
  }
  
  
  nav ul li{
    float: left;
    display: inline-block;
    background:var(--azul);
    margin: 0 5px;
  }
  
  nav ul li a{
    color: var(--blanco);
    text-decoration: none;
    line-height: 70px;
    font-size: 18px;
    padding: 8px 15px;
  }
  
  nav ul li a:hover{
    color: var();
    border-radius: 5px;
    box-shadow: 0 0 5px #ff8f33,
                0 0 5px #ffb066;
  
  }
  
  nav ul ul li a:hover{
    color: var(--naranja);
    box-shadow: none;
  }
  
  nav ul ul{
    position: absolute;
    top: 90px;
    opacity: 0;
    border-top: 3px solid var(--naranja) ;
    visibility: hidden;
    transition: top .3s;
  }
  
  nav ul ul ul{
    border-top: none;
  }
  nav ul li:hover > ul{
    top: 70px;
    opacity: 1;
    visibility: visible;
  }
  
  nav ul ul li{
    position:relative;
    margin: 0px;
    width: 165px;
    float: none;
    display: list-item;
    border-bottom: 1px solid rgba(0,0,0,0.3);
  
  }
  
  nav ul ul li a{
    line-height: 50px;
  }
  
  nav ul ul ul li{
    position: relative;
    top: -70px;
    left: 150px;
  }
  
  .fa-plus{
    margin-left: 40px;
    font-size: 15px;
  
  }
  
  .show, .icon, input{
    display: none;
  }

  .login{
    background-color: var(--gris);
    color: var(--negroTotal);
    border-radius: 5px;
    font-weight: 800;
  }

  .login:hover{
    background-color: var(--blanco);
    color: var(--naranja);
  }
  
  @media all and (max-width: 968px){
    nav ul{
      margin-right: 0px;
      float: left;
    }
  
    nav .logo{
      padding-left: 30px;
      width: 100%;
    }
  
    nav ul li, nav ul ul li{
      display: block;
      width: 100%;
    }
  
    nav ul ul{
      top: 70px;
      position: static;
      border-top: none;
      float: none;
      display: none;
      opacity: 1;
      visibility: visible;
    }
  
    nav ul ul ul li{
      position: static;
    }
  
    nav ul ul li{
      border-bottom: 0px;
    }
    nav ul ul a{
      padding-left:40px;
    }
    
    nav ul ul ul a{
      padding-left:80px;
    }
  
    .show{
      display: block ;
      color: var(--blanco);
      font-size: 18px;
      padding: 0 20px;
      line-height: 70px;
      cursor: pointer;
    }
  
    .show:hover{
      color: var(--naranja);
    }
  
    .icon{
      display: block;
      color: var(--blanco);
      position: absolute;
      right: 40px;
      line-height: 70px;
      font-size: 25px;
      cursor: pointer;
    }
    nav ul li a:hover{
      box-shadow: none;
    }
  
    .show + a, ul{
      display: none;
    }
  
    [id^= "btn"]:checked+ ul{
      display: block;
    }

    .login{
      margin-left: 10px;
      
    }
  }

  .contenedorTop{
    position: relative;
}
/*------------------------------------------------------------ENCABEZADO------------------------------------------------------------------------------------*/

.encabezado{
  background: linear-gradient(10deg, rgba(9,0,0,1) 6%, rgba(9,0,0,1) 14%, rgba(11,2,2,0.3617822128851541) 100%, rgba(10,1,1,0.2329306722689075) 100%),url(../img/nosotros/background.webp) ; /*------aqui--------*/
  position: relative;     
  background-repeat: no-repeat;
  background-size: cover;
  height: 600px;
  background-position: center;
  display: flex;
  flex-direction: column;
 justify-content: center;
 align-items: center;
 padding: 80px 0 0 0;
}

.cajaImagen{
text-align: center;
  height: 70%;
}

.cajaImagen img{
  filter:drop-shadow(4px 6px 2px var(--azul));
}

.cajaTexto{
  text-align: center;
  height: 30%;
   
  -webkit-text-stroke: 3px var(--blanco);
  
}

.cajaTexto h1{
  
  font-size: 60px;
  margin: 0;
  color: transparent; 
  -webkit-text-stroke: 1px var(--blanco);
}

@media only screen and (max-width: 400px) {
  .seccion1 h1{
    font-size: 55px;
  }
}

/*---------------------------------------------------MAIN------------------------------------------------------------*/

main{
  background-color: var(--gris);
} 

.maximo{
  max-width: 1500px;
  padding-bottom: 30px;
  height: auto;
  margin: 0 auto;
}

/*---------------------------------------------------SECCION1------------------------------------------------------------*/

.seccion1{
  background-color:var(--blanco);
  height: auto;
  text-align: center;
  padding: 50px 20px;
}

main h2{
  font-size: 35px;
  color: var(--naranja);
  font-weight: 800;
  margin: 20px 0;
  
}



@media only screen and (max-width: 400px) {
  h2{
    font-size: 25px;
  }
}




main p{
  font-size: 20px;
}

/*---------------------------------------------------SECCION2------------------------------------------------------------*/

.seccion2, .seccion3{
  display:flex;
  flex-direction: column;
  background-color: var(--negroTotal);
  height: auto;
  color: var(--blanco);
  padding: 15px;
}

.seccion2 img{
  width: 100%;
  height: auto;
}

.seccion3 img{
  width: 100%;
  height: auto;
}

.seccion2, .seccion3 {
  text-align: center;
  
}

.texto{
  margin: auto;
  padding: 20px;
}
@media only screen and (min-width: 600px) {
  .seccion2{   
    flex-direction: row;    
  }

  .seccion3{
    flex-direction: row-reverse;
  }
}


  /*------------------------------------------------ESTILOS BASADOS EN 12 COLUMNAS------------------------------------------------------------------------*/



/*ESTILO PARA DISPOSITIVOS MOVILES*/
[class*="col-"]{
    width: 100%;
}


/*ESTILO PARA TABLETS*/


@media only screen and (min-width: 600px) {
    .col-s-1{width:8.33% }
    .col-s-2{width:16.66% }
    .col-s-3{width:25% }
    .col-s-4{width:33.33% }
    .col-s-5{width:41.66% }
    .col-s-6{width:50% }
    .col-s-7{width:58.33% }
    .col-s-8{width:66.66% }
    .col-s-9{width:75% }
    .col-s-10{width:83.33% }
    .col-s-11{width:91.66% }
    .col-s-12{width:100% }
}

/*ESTILO PARA ESCRITORIO*/
@media only screen and (min-width: 768px) {
    .col-1{width:8.33% }
    .col-2{width:16.66% }
    .col-3{width:25% }
    .col-4{width:33.33% }
    .col-5{width:41.66% }
    .col-6{width:50% }
    .col-7{width:58.33% }
    .col-8{width:66.66% }
    .col-9{width:75% }
    .col-10{width:83.33% }
    .col-11{width:91.66% }
    .col-12{width:100% }
}


